*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-family: sans-serif;
}

:root {
  --color-red: 255, 0, 0;
  --color-green: 10, 212, 6;
}

.f {
  color: rgb(10, 212, 6);
}

#container {
  height: 100vh;
  background-color: #dedede;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Components */
.heading-2 {
  font-size: 3rem;
}

.hidden {
  visibility: hidden;
}

.warn {
  color: rgba(var(--color-red));
  border: 1px solid rgba(var(--color-red));
  background-color: rgba(var(--color-red), 0.15);
}

.succ {
  color: rgba(var(--color-green));
  border: 1px solid rgba(var(--color-green));
  background-color: rgba(7, 149, 66, 0.15);
}

.banner {
  width: 20rem;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.times {
  font-size: 4rem;
  height: fit-content;
}

.desc {
  display: flex;
  flex-direction: column;
}

.form {
  height: 30rem;
  padding: 1rem 3rem;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__heading {
  margin-bottom: 2rem;
}

.form__label {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.btn {
  align-self: center;
  padding: 1rem 2rem;
}
